
/* -----------------media per menu orizzontale ------------------ */

@media screen and (min-width: 980px){
	
.menuicon{
	display:none; /* togliere icona hambuger icon */
}
	
#bar #logo{
	float:left;
	margin-left:12px;
}

nav{
	z-index:3;
	margin-top:19px;
	height:auto;
	background-color:transparent;
	transition:none;
	width:auto;
	float:right;
	right:12px;
	visibility:visible;
	font-family:'Roboto Slab', serif;
	overflow:inherit;
}

.active{
	background-color:transparent;
	color:#FF6759 /* primary super-lightcolor*/;
}
	
.active-dropdown{
	color:#fff;
	background-color:#B3453E/* primary lightcolor*/;
}

nav ul{
	padding:0;
}
	
nav ul li a {
	padding:0;
	display:inline;
	font-size:16px;
	color: #fff;
}

nav ul li a:hover {
	background-color:transparent;
	color:#FF6759 /* primary super-lightcolor*/;
}
	
.submenu{
	padding-left: 0;
	color:#FFFFFF;
}

nav ul li {	
	margin:0;
	float:left;
	position:relative;
	padding:0 16px;
}

.submenu::after{
	content: url(img/arrow-down.svg);
	float: right;
	padding-left: 6px;
}
	
/* ----------------- dropdown - attivare il menu a tendina ------------------ */
	
nav ul li ul { 
	position:fixed;
	height:0;
	overflow:hidden;
	background-color: #A24038 /* primary color*/
}
	
nav ul li:hover ul{
	height:auto;
	padding-top: 14px;
	position: absolute;
    right: 0;	
}

nav ul li ul li {
	font-size: 14px;
	font-weight: normal;
	float:none;
	padding:0;
	min-width: 160px;
	border-top: 1px solid #B3453E/* primary lightcolor*/;
}

nav ul li ul li a {
	padding: 16px 32px;
	display: block;
	background-color: #A24038/* primary color*/;
	color: #ffffff;
	font-weight: normal;
}

nav ul li ul li a:hover {
	background-color:#B3453E/* primary lightcolor*/;
	color:#FF6759 /* primary super-lightcolor*/;
}

.lingua{
	border-top: 0;
	border-left: solid 1px #fff;
	float: left;
}

}

