#table_img_contenitore {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

/* Grazie a questa proprietà del css riesco a prendere tutti i valori che ci sono dopo il "_" quindi: Sezioni top, trending, bottom (in questo caso)*/
[class^="blocco_"] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.prodotto {
    position: relative;
    /*width: 300px;*/
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.blocco_top .prodotto{
    width: 100%;
}

.blocco_trending .prodotto{
    width: 500px;
}

.blocco_bottom .prodotto{
    width: 300px;
}

.prodotto img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.prodotto:hover img {
    transform: scale(1.05);
}

.overlay-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

.overlay-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.overlay-info button {
    margin-top: 8px;
    background-color: white;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay-info button:hover {
    background-color: #eee;
}